body {
	position: relative;
	background-color: #CCCCFF;
	color: #000;
	font-weight: bold;
}

div {
	background-color: rgb(116, 194, 225);
	padding: 10px;
	margin: 10px;
	border: 1px solid black;
	text-align: center;
}

div h1 {
	color: #00A;
	padding: 0px;
	margin: 0px;
	font-size: 125%;
	font-weight: bolder;
}

p {
	text-align: left;
	text-indent: 30px;
}

h1 {
	display: block;
	margin: auto;
	text-align: center;
}

#content {
	background-color: #0191C8;
	width: 50%;
	min-width: 800px;
	margin: auto;
}

#submit {
	margin: 0px auto;
}

#blurb {
	text-align: center;
}

.textset {
	border: none;
	display: inline-block;
	position: relative;
	margin: auto;
	padding: 0px;
}

#blurb small {
	display: block;
	clear: right;
	text-align: left;
}

#input_area {
	display: none;
	height: 100%;
	margin: auto;
	max-width: 600px;
}

#input_area p {
	text-indent: 0px;
	width: 100%;
}

#tf {
	width: 100%;
}

#result, #PRNG_EXAMPLE {
	display: none;
}

.error {
	background-color: rgb(136, 214, 225);
}